*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  min-height: 100vh;
  background-color: hsl(223, 19%, 93%);
  font-family: "Rubik", sans-serif;
}

button{
  cursor: pointer;
}

.main{
  width: 70rem;
  margin: 5rem auto;
}

.comment-container{
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 3rem;

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content 1fr;
  column-gap: 2.8rem;
  row-gap: 1rem;
}

.replies{
  display: grid;
  justify-items: end;
}

.reply-comment-container{
  width: 90%;
}

.replying-to{
  font-weight: bold;
  font-size: 2rem;
  color: hsl(238, 40%, 52%);
}

.vote-container{
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1.8rem;

  grid-row: span 2;
  align-self: start;

  width: max-content;
  padding: 1.3rem 1.1rem;
  border-radius: 1rem;
  background-color: hsl(223, 19%, 93%);

}

.vote-count{
  font-size: 1.5rem;
  color: hsl(238, 40%, 52%);

}

.comment-header-container{
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  column-gap: 2.2rem;
  align-items: center;
}

.avatar{
  width: 4rem;
}

.username{
  font-weight: bold;
  font-size: 2rem;
  color: hsl(212, 24%, 26%);
}

.created-at{
  font-size: 1.8rem;
  color:  hsl(211, 10%, 45%);
}

.action-button-group{
  display: grid;
  grid-auto-flow: column;
  column-gap: 2rem;
}

.action-button-container{
  align-self: center;
  cursor: pointer;
}

.action-button-text{
  font-size: 2rem;
  font-weight: bold;

  margin-left: 1rem;
}


.reply, .edit{
  color: hsl(238, 40%, 52%);
}

.delete{
  color: hsl(358, 79%, 66%);
}

.comment{
  font-size: 2rem;
  color:  hsl(211, 10%, 45%);

  grid-column: span 2;
}


.input-container{
  width: 70rem;
  height: 15rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: hsl(0, 0%, 100%);

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: start;
  column-gap: 1.5rem;

}

textarea{
  height: 100%;
  border-radius: 1rem;
  border: 1px solid hsl(223, 19%, 93%); 
  padding: 1.5rem;
}

textarea::placeholder{
  font-size: 2rem;
  color:  hsl(211, 10%, 45%);
}

.input-avatar{
  width: 4.5rem;
}

.send-button{
  padding: 1.5rem 2rem;
  font-weight: bold;
  font-size: 2.1rem;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  background-color: hsl(238, 40%, 52%);
}