*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  min-height: 100vh;
  background-color: hsl(223, 19%, 93%);
  font-family: "Rubik", sans-serif;
}

.main{
  width: 70rem;
  margin: 5rem auto;
}

.comment-container{
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 3rem;

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content 1fr;
  column-gap: 2.8rem;
  row-gap: 1rem;
}

.vote-container{
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1.8rem;

  grid-row: span 2;
  align-self: start;

  width: max-content;
  padding: 1.3rem 1.1rem;
  border-radius: 1rem;
  background-color: hsl(223, 19%, 93%);

}

.vote-count{
  font-size: 1.5rem;
  color: hsl(238, 40%, 52%);

}

.comment-header-container{
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  column-gap: 2.2rem;
  align-items: center;
}

.avatar{
  width: 4rem;
}

.username{
  font-weight: bold;
  font-size: 2rem;
  color: hsl(212, 24%, 26%);
}

.created-at{
  font-size: 1.8rem;
  color:  hsl(211, 10%, 45%);
}

.action-button-container{
  align-self: center;
}

.action-button-text{
  font-size: 2rem;
  font-weight: bold;

  margin-left: 1rem;
}


.Reply{
  color: hsl(238, 40%, 52%);
}

.comment{
  font-size: 2rem;
  color:  hsl(211, 10%, 45%);

  grid-column: span 2;
}